Frontend/android/
node_modules
Backend/ahorrap/.env
Frontend/Ahorrapp/.env
Frontend/Ahorrapp/android/app/my-release-key.keystore
Backend/ahorrap/app.log
Backend/ahorrap/app.log.*
Database/dump.sql
Frontend/Ahorrapp/utils/env.js
Frontend/Ahorrapp/android/version.json
Frontend/Ahorrapp/Build.ps1
