Frontend/android/
node_modules
Backend/ahorrap/.env
Frontend/.env
Frontend/android/app/my-release-key.keystore
Backend/ahorrap/app.log
Backend/ahorrap/app.log.*
Database/dump.sql
Frontend/utils/env.js
Frontend/android/version.json
Frontend/Build.ps1
Backend/.env
Backend/app.*
